REST-SOAP-ClientDemo/src/student/student.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.demo.cse.ge/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.demo.cse.ge/" name="StudentServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.demo.cse.ge/" schemaLocation="http://localhost:8080/SOAPDemo_war_exploded/student?xsd=1"/>
</xsd:schema>
</types>
<message name="getStudents">
<part name="parameters" element="tns:getStudents"/>
</message>
<message name="getStudentsResponse">
<part name="parameters" element="tns:getStudentsResponse"/>
</message>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<portType name="StudentService">
<operation name="getStudents">
<input wsam:Action="http://services.demo.cse.ge/StudentService/getStudentsRequest" message="tns:getStudents"/>
<output wsam:Action="http://services.demo.cse.ge/StudentService/getStudentsResponse" message="tns:getStudentsResponse"/>
</operation>
<operation name="addStudent">
<input wsam:Action="http://services.demo.cse.ge/StudentService/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://services.demo.cse.ge/StudentService/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://services.demo.cse.ge/StudentService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://services.demo.cse.ge/StudentService/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
</portType>
<binding name="StudentServicePortBinding" type="tns:StudentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentServiceService">
<port name="StudentServicePort" binding="tns:StudentServicePortBinding">
<soap:address location="http://localhost:8080/SOAPDemo_war_exploded/student"/>
</port>
</service>
</definitions>